.DS_Store

browser_use/.venv/
browser_use/__pycache__/
browser_use/logs/

playwright_mobile/node_modules/
playwright_mobile/test-results/
playwright_mobile/playwright-report/
playwright_mobile/.playwright/
